nav{
    transform: scale(1,1.7);
}    
.navbar a{
    text-decoration:none;
    margin-right: 120px;
 font-size: x-large;
   }
.nav-item a:hover{
    background-color: rgb(46, 60, 28);
    cursor: pointer;
}
.emo a:hover{
    cursor: not-allowed;
   }

.FooterSection{
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(240, 176, 50);
}
.FooterSection p{
    color: white;
    padding-top: 18px;
}
.FooterSection a{
    color: white;
    text-decoration: none;
    margin: 20px 10px;
    padding-bottom: 18px; 
}
.FooterSection a:hover{
    color:crimson;
}