<!-- <app-header></app-header> -->
<body>
   
    <div class="container">
    <img src="/assets/register logo.jpg" alt="image">
    <h3  style=" text-align: center;color: rgb(34, 91, 248)">LOGIN</h3>
    
  <form  #login="ngForm" (ngSubmit)="validate(login.value)" novalidate>
      
      Email<br>
      <input type="text" name="uemail" #uemail="ngModel" ngModel required ><br>  
      <div *ngIf="uemail.errors?.['required'] && uemail.touched">Enter youremail</div>
      Password<br>
      <input type="text" name="upassword" #upassword="ngModel" ngModel required minlength="5" maxlength="9"><br>
      <div *ngIf="upassword.errors?.['required'] && upassword.touched">enter your pasword</div><br>
         
      <button  class="btn btn-primary">Login</button>
    </form>
</div>

</body>
 
