*{
    margin: 0;
    padding: 0;
    outline:none;
    box-sizing: border-box;
    font-family: "Noto 5ans JP",sans-serif;
    background-color: rgba(241, 250, 250, 0.804);
}
body{
    width:100%;
    height:auto;
    color:black;
    
}
.logo b{
    background-color:rgb(239, 133, 57) ;

}
.logo{
    position: fixed;
    background-color:rgb(239, 133, 57) ;
    /* color: rgb(249, 245, 245); */
    font-weight: bold;
    text-align: center;
   padding-left: 550px;
   padding-right: 650px;
   padding-top: 6px;
   padding-bottom: 4px;
   top:0;
  z-index:2;

}
.dashboard{
    height:100%;
    width:100%;
    padding-right: 360px;
    padding-left: 300px;
}
dashboard-banner{
    width:100%;
    height:300px;
    position:relative;
    margin-top:4rem;
    padding: 1rem;
    border-radius: 30px;
    cursor: pointer;
    background-size: cover;   
}
.dashboard-banner img{
 width:140%;
 height:60%;
 object-fit: cover;
 border-radius: 10px;
 padding-left:100px;
padding-right: 100px;
}
.dashboard-banner a{

text-decoration: none;
color: rgb(255, 0, 0);
text-decoration: none;
text-align: center;
border-radius: 5px;
min-width: 120px;
padding: 0.5rem 0;
font-size: 0.9rem;
font-weight: bold;
color:black;
background-color: rgb(245, 159, 128);
}
.dashboard-banner a:hover{
    background-color: red;
    color: lightgrey;
}
.banner-promo{
    position:relative;
    color:black;
    top:17%;
    left:5%;
    font-weight: bold;
    font-size: large;
}
.name h3{
font-weight: bold;
left:600;
color: orangered;
padding: 0 1rem; 
}
.dashboard-menu{
    display: flex;
    gap:80px;
    padding:0.3rem 1rem;
    overflow-x: auto;
    padding-top: 25px;
    padding-bottom:50px;

}
.dashboard-menu a{
 padding-top: 20px;
 font-weight: bold;   
text-decoration: none;
text-align: center;
border-radius: 15px;
min-width: 100px;
padding: 0.5em 0;
font-size: 0.9rem;
color:black;
background-color: rgb(235, 179, 145);
font-size: 110%;
margin-right: 70px;

}
.dashboard-menu a:hover{
    background-color: red;
    color:aliceblue;
}
.dashboard-content{
    display:flex;
    grid-template-columns: repeat(auto-fit,minmax(1px,1fr));
    gap:10px;
    padding:10px 20px;
}
.card-image{
   
    object-fit: fill;
    border-radius: 15px;
}
.dashboard-card:hover{
    box-shadow: rgba(225, 32, 32, 0.35) 6px 8px 10px 10px;
}
.dashboard-card{

min-width: 160px;
padding: 6px 10px;
    text-align: center;
    box-shadow: black;
    border-radius: 15px;
    cursor: pointer;
}
.dashboard-card img{
    width:100px;
    height: 100px;
    object-fit: cover;
    /* padding-left: 80px; */
}
.dashboard-card h4{
    text-align: center;
    font-weight: bold;
}
.dashboard-card p{
    text-align: center;
    font-weight: bold;
}
.dashboard-card h2{
    text-align: center;
    font-weight: bold;
    padding-bottom: 18px;
}
.dashboard-card a{
padding-top: 50px;
 font-weight: bold;   
text-decoration: none;
text-align: center;
border-radius: 1px;
min-width: 100px;
padding: 0.5em 0;
font-size: 0.9rem;
color:black;
background-color: rgb(243, 139, 74);
font-size: 110%;
}
.dashboard-card a:hover{
    background-color: red;
}

.FooterSection{
    font-size: large;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fef1ed;
   margin-top: 2%;
}
.FooterSection p{
    color: rgb(27, 26, 26);
    padding-top: 18px;
    font-weight: bold;
}
.FooterSection a{
    color: rgb(22, 21, 21);
    text-decoration: none;
    margin: 10px 8px;
    padding-bottom: 10px; 
}
.FooterSection a:hover{
    color:crimson;
}


.fa{
    padding-left: 10cap;
    margin-left: 10cap;
    size: 40cap;
    cursor: pointer;
  }
  .fa:hover{
    transform: scale(2);
    color: red;
  }