<body>
    <br><br><br><br><br>
    <div class="container">
        <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h3 style="text-align: left;"><b>Name :</b> {{userName}}</h3>
            </li>
            <li class="list-group-item" style="text-align: left;">
        
                <h3 style="text-align: left;"><b>Address:{{userAddress}} </b></h3>
                
            </li>
        
        </ul> -->
        
    <h1 style="margin-left: 15%;">Click on yes to proceed payment</h1>
    <h1 style="margin-left: 25%;">Click on No to go back</h1>
    
     
    <button (click)="makePayment()" style="margin-left: 25%;">Yes</button>
    <button routerLink="#" style="margin-left: 20%;" >No</button>
    
    </div>
    </body>