<!-- <app-header></app-header> -->
<body>
    <div class="container">
    <form #RegForm="ngForm" (ngSubmit)="submitForm(RegForm.value)" novalidate>
    
        <tr>
            <td id="effect1">Enter StudentId</td>
            <td id="effect2"> <input type="Text" #UserId="ngModel" name="UserId" ngModel required minlength="1" maxlength="3"></td>
            <div *ngIf="UserId.errors?.['required'] && UserId.touched">Enter the UserId</div>
       
            <div *ngIf="UserId.errors?.['minlength'] && UserId.touched">Please Enter Minimum of 3 numbers</div>
        </tr>
        <tr>
            <td id="effect1">Enter Name</td>
            <td id="effect2"> <input type="text"  #Name="ngModel" name="Name" ngModel required minlength="5" maxlength="8"></td>
        </tr>
        <tr>
            <td id="effect1">Enter Gender</td>
           <td id="effect2" required ngModel> <select>
                <option  >Select Gender</option>
                <option >M</option>
                <option>F</option>
            </select></td>
        </tr>
        <tr>
            <td id="effect1">Enter DOB</td>
            <td id="effect2"><input type="date" name="DOB" ngModel required></td>
        </tr>
        <tr>
            <td id="effect1">Enter Age</td>
            <td id="effect2"> <input type="number" name="Age" ngModel ></td>
        </tr>
        <tr>
            <td id="effect1">Enter EmailId</td>
            <td id="effect2"><input type="email" name="EmailId" ngModel required></td>
        </tr>
        <tr>
            <td id="effect1">Enter Marks</td>
            <td id="effect2"><input type="int" name="marks" ngModel required ></td>
        </tr>
        <tr>
            <td id="effect1">Enter Country</td>
            <td id="effect2" name="Country" #Country="ngModel" required ngModel> <select>
                <option>Select Country</option>
                <option *ngFor="let Countries of countries" name="alpha2Code" >
    {{Countries.name}}
                </option>
            </select></td>
        </tr>
        <tr>
            <td id="effect1">Enter PhoneNo.</td>
            <td id="effect2"><input type="tel" name="phone" ngModel required></td>
        </tr>
    
    <button [disabled]="RegForm.valid" class="btn btn-md btn-secondary"  type="submit">SUBMIT</button>
    </form>
    </div>
    </body>