<h1 style="color:rgb(92, 14, 227);text-align:center">REGISTRATION FORM</h1>
<div class="container">
    <form>

    Id:<input type="text" name="id" required minlength="1" maxlength="3">
    <!-- <div *ngIf="id.errors?.['required'] && id.touched">enter your id</div>
    <div *ngIf="id.errors?.['minlength'] && id.touched">enter id having a minlength of 1</div> <br><br>   -->
    Name:<input type="text" name="name" required minlength="3" maxlength="5">
    <!-- <div *ngIf="name.errors?.['required'] && name.touched">Enter your name</div>
    <div *ngIf="name.errors?.['minlength'] && name.touched">enter name having a minlength of 3</div><br><br>    -->
    Gender:<br>
    <input type="radio" required>Male<br>
    <input type="radio"  required>Female<br>
    <input type="radio" required>Others<br><br>
    Address:<input type="text" name="Address"  required>  
    Email:<input type="text" name="email" required ><br><br>   
    Mobile:<input type="text" name="mobileno" required><br><br>
    <button class="bg-primary">Register</button>
    </form>
</div>
